<!DOCTYPE html>
<html lang="e">
<%- include("../partials/head") %>

<body>

<div class="page-frame">
     
       <main>
          <%- body %>  
       </main>
</div>  
       
</body>
</html>